<div class="row">
  <br/>
  <div class="panel callout radius">
    <h1 class="text-center">Inscrição registrada</h1>
    <hr/>
    <h3>Sua inscrição foi registrada com sucesso !</h3>
    <h4>O valor da inscrição será dois quilos de alimento não perecível, traga no dia do evento.</h4>
    <hr/>
    <div data-alert class="alert-box alert round">
      LEMBRE-SE: No dia do evento, traga dois quilos de alimento não perecível !
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>