<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Boleto" %></title>
    <%= stylesheet_link_tag "boleto", :media => "all" %>
    <script type="text/javascript">
      window.print();
    </script>
    <style type="text/css">
      @media print {
          .no-print, .no-print * {
              display: none !important;
          }
      }
    
      fieldset {
        padding: 0;
      }

      legend {
        font-size: 14px;
        font-weight: bold;
      }

      .legenda {
        font-size: 14px;
        font-weight: bold;
        margin-left: 1em;
      }

      .resposta {
        font-size: 12px;
        display: block;
        line-height: 14px;
        margin-left: 2em;
      }
    </style>
  </head>
  <body>
    <form class="no-print"><input type="button" onClick="window.print()" value="Imprimir"><br/><hr/></form>
    <%= yield %>
  </body>
</html>
